:root {
  --background-color: #f7f7f7;
  --color-primary: #1677ff;
  --color-primary-light: rgba(22, 119, 255, 0.1);
  --hint-color: #666;
  --title-color: #333;
}
html[data-prefers-color-scheme="dark"] {
  --background-color: #141414;
  --color-primary: #4c9eff;
  --color-primary-light: rgba(76, 158, 255, 0.1);
  --hint-color: #999;
  --title-color: #fff;
}
.admList {
  --border-bottom: none;
  --border-top: none;
  border-radius: 8px;
}
.adm-tabs {
  height: 100%;
  overflow-y: hidden;
}
.adm-tabs-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--background-color);
  height: 44px;
}
.adm-tabs-header .adm-tabs-tab-list {
  height: 44px;
}
.adm-tabs-header .adm-tabs-tab-list .adm-tabs-tab {
  padding: 12px 0 10px;
}
.adm-tabs-content {
  padding: 0;
  height: calc(var(--height-primary, calc(100vh - var(--browser-address-bar, 0px))) - 44px - 49px);
  overflow-y: auto;
  padding-bottom: calc(constant(safe-area-inset-bottom));
  padding-bottom: calc(env(safe-area-inset-bottom));
}
