@import 'tailwind.css';
:root {
  --background-color: #f7f7f7;
  --color-primary: #1677ff;
  --color-primary-light: rgba(22, 119, 255, 0.1);
  --hint-color: #666;
  --title-color: #333;
}
html[data-prefers-color-scheme="dark"] {
  --background-color: #141414;
  --color-primary: #4c9eff;
  --color-primary-light: rgba(76, 158, 255, 0.1);
  --hint-color: #999;
  --title-color: #fff;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
}
html,
body {
  -webkit-overflow-scroll: touch;
  line-height: normal;
  background-color: var(--background-color);
}
.fullPage {
  height: calc(var(--height-primary, calc(100vh - var(--browser-address-bar, 0px))));
  width: 100vw;
  padding-bottom: calc(constant(safe-area-inset-bottom));
  padding-bottom: calc(env(safe-area-inset-bottom));
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.fullBody {
  height: 100%;
  width: 100%;
}
.page_loading_body {
  position: fixed;
  left: 0;
  top: 0;
  height: calc(var(--height-primary, calc(100vh - var(--browser-address-bar, 0px))));
  width: 100vw;
  background: var(--background-color);
  z-index: 1;
}
/* 自定义 NProgress 进度条颜色 */
#nprogress .bar {
  background: var(--color-primary) !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px var(--color-primary), 0 0 5px var(--color-primary) !important;
}
