/* 浅色主题 */
:root {
  --background-color: #f7f7f7;
  --color-primary: #1677ff;
  --color-primary-light: #e6f4ff;
  --hint-color: #666;
  --light-color: #999;
  --title-color: #333;
}
/* 深色主题 */
html[data-prefers-color-scheme="dark"] {
  --background-color: #141414;
  --color-primary: #4c9eff;
  --color-primary-light: #2c73e0;
  --hint-color: #999;
  --light-color: #666;
  --title-color: #fff;
}
